.rockets-container {
    margin: 10px 20px;
  }
  
  .rocket-card {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    align-items: flex-start; /* Align items to the start of the cross axis */
  }
  
  .rocket-image {
    width: 280px; 
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .rocket-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    justify-content: flex-start; /* Align items to the start of the main axis */
    align-items: flex-start;
    text-align: left;
  }
  
  .reserve-button {
    padding: 12px 20px;
    background-color: #167BFE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    align-self: flex-start;
    margin-top: -30px;
    font-size: medium;
  }
  
  .reserve-button:hover {
    background-color: #0056b3;
  }
  